<!DOCTYPE html>  
<html>  
<head>  
    <title>Add product</title>  
</head>  
<body>  
    <h2>product Information</h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Product Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Product description</td><td><input type="text" name="des"></td></tr> 
		<tr><td>Product Prise</td><td><input type="number" name="prise"></td></tr>
		<tr><td>Product quantity</td><td><input type="number" name="quantity"></td></tr> 		
        <tr><td>Product image</td><td><input type="file" name="path"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
<a href="/">Go back to home page</a>  
</html>  