<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
  
<h3>View product Information</h3>  
<table border=5>  
    <thead>  
        <td>ID</td>  
        <td>Name</td>  
        <td>Product description</td>
		<td>Product Prise</td>
		<td>Product quantity</td>		
        <td>Image path</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["pid"]}}</td>  
            <td>{{row["pname"]}}</td>  
            <td>{{row["pdes"]}}</td> 
			<td>{{row["Prise"]}}</td> 	
			<td>{{row["quantity"]}}</td> 			
            <td>{{row["pimg"]}}</td>  
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html>  